<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>pitmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/nv.d3.min.js"></script>
    <script src="/static/js/pitmon.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/nv.d3.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">pitmon</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>

<div class="container-fluid container-left">
    <div class="row">
        <div class="col-md-3 col-squeeze">
            <div class="container-fluid">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            <strong><span id="cook_name"></span></strong>
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Status: <span id="cook_status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            Temp: <span id="cook_temp"></span>&#176;
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Set: <span id="cook_set"></span>&#176;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-squeeze">
                            Fan output: <span id="output_percent"></span>%
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            <strong><span id="food1_name"></span></strong>
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Status: <span id="food1_status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            Temp: <span id="food1_temp"></span>&#176;
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Set: <span id="food1_set"></span>&#176;
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            <strong><span id="food2_name"></span></strong>
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Status: <span id="food2_status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            Temp: <span id="food2_temp"></span>&#176;
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Set: <span id="food2_set"></span>&#176;
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            <strong><span id="food3_name"></span></strong>
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Status: <span id="food3_status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            Temp: <span id="food3_temp"></span>&#176;
                        </div>
                        <div class="col-md-6 col-squeeze">
                            Set: <span id="food3_set"></span>&#176;
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                            <strong>Pitmon Status</strong>
                        </div>
                        <div class="col-md-6 col-squeeze">
                            <span id="pitmon_status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-squeeze">
                        </div>
                        <div class="col-md-6 col-squeeze">
                            <span id="pitmon_time"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="well">
                <div id="plot">
                    <svg style='height:500px; width:768px;'> </svg>
                </div>
            </div>
          </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">Copyright 2014 Scott Emmons -
            <a href="https://github.com/scotte/pitmon">Pitmon on Github</a></p>
        </div>
    </div>
</div>

</body>
</html>
